.counter {
    background-color: red;
    text-align: center;
}

.counterIcon{
    background-color: white;
    color: blue;
    font-size: 45px;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}